
<!-- Sidebar -->


      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              Near By
            </a>
          </li>
          <div id="chat-index">

            <%= render @chat_rooms %>
          </div>
          <!--       new-chat-room -->        
          <div class="lead">
            <%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %>

          </div>
        </ul>
        <!-- footer -->
        <div id="footer">

          <p class="text-muted">Created by Seiya</p>

        </div>
        </div>
  
<!-- /#sidebar-wrapper -->
<nav class="navbar" role="navigation">
  <div class="container-fluid">

    <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
    <div class="navbar-header">

      <!-- タイトルなどのテキスト -->
      <p class="navbar-brand"><%= @chat_room.title %></p>
      <div class="navbar-login-right">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong><br>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>
  </div>
</nav>




<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<div class="form-footer">

  <%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>

  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>


