


	<nav class="drawer-nav">

			<!-- ドロワーメニューの中身 -->

			<%= render "sidebar" %>

	</nav>





	<section class="drawer-contents">

	<%= render "navbar" %>
		<!-- コンテンツ部分 -->

		<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
			<%= render @chat_room.messages %>
		</div>



			<%= form_for @message, url: '#' do |f| %>
<div class="col-md-10">

				<%= f.text_area :body, class: 'form-control' %>
				<%= f.submit "Post", class: 'btn btn-primary ' %>
</div>





			<% end %>


	</section>


