<nav class="navbar navbar-default navbar-origin" role="navigation">
        <div class="container-fluid">

          <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
          <div class="navbar-header">

<!-- タイトルなどのテキスト -->
            <p class="navbar-brand"><%= @chat_room.title %></p>

          </div>
          </div>
          </nav>




<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

