<h2>編集 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<div class="row">
  <div class="field">
        <div class="col-sm-2"><%= f.label :name %></div>
        <div class="col-sm-10 form-inline" style="padding: 3px;">
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: :name, size:"20" %>
    </div>
  </div>

  <div class="field">
    <div class="col-sm-2"><%= f.label :nickname %></div>
       <div class="col-sm-10 form-inline" style="padding: 3px;">
    <%= f.text_field :nickname, class: 'form-control', placeholder: :nickname, size: "20" %>
    <small class="text-muted">(公開)</small>
  </div>
</div>

<div class="field">
 <div class="col-sm-2"><%= f.label :email %></div>
     <div class="col-sm-10 form-inline" style="padding: 3px;">
  <%= f.email_field :email, class: 'form-control', placeholder: :email, size: "20" %>
</div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
 <div class="col-sm-2"><%= f.label :password %></div>

     <div class="col-sm-10 form-inline" style="padding: 3px;">

  <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password, size: "20" %>
  <small class="text-muted">(変更しない場合は空白にしてください)</small>

</div>
</div>

<div class="field">
  <div class="col-sm-2"><%= f.label :password_confirmation %></div>
      <div class="col-sm-10 form-inline" style="padding: 3px;">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: :password_confirmation, size: "20" %>
  </div>
</div>

<div class="field">
  <div class="col-sm-2"><%= f.label :current_password %></div>
      <div class="col-sm-10 form-inline" style="padding: 3px;">
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: :current_password, size: "20" %><small class="text-muted">(登録済みのパスワードを入力してください)</small>

  </div>
</div>


<div class="field">
  <div class="col-sm-2"><%= f.label :birthday %></div>
      <div class="col-sm-10 form-inline" style="padding: 3px;">

    <%= raw sprintf(
      f.date_select(
        :birthday,
        use_month_numbers: true,
        start_year:        1930,
        end_year:          (Time.now.year),
        default:           Date.new(1989, 1, 1),
        date_separator:    '%s'),
        '年 ', '月 ') + '日' %>
      </div>
    </div>

    <div class="field">
      <div class="col-sm-2"><%= f.label :gender %></div>

          <div class="col-sm-10 form-inline" style="padding: 3px;">

        <%= f.radio_button :gender, 0 %>男
        <%= f.radio_button :gender, 1 %>女
        <small class="text-muted">(公開)</small>

      </div>
    </div>

    <div class="field">
      <div class="col-sm-2"><%= f.label :zipcode, "郵便番号" %></div>
          <div class="col-sm-10 form-inline" style="padding: 3px;">

        <%= f.text_field :zipcode, class: 'form-control', placeholder: :zipcode, size: "20" %>
      </div>
    </div>
    <div class="field">
      <div class="col-sm-2"><%= f.label :prefecture_name, '都道府県' %></div>
          <div class="col-sm-10 form-inline" style="padding: 3px;">

        <%= f.collection_select :prefecture_name, JpPrefecture::Prefecture.all, :name, :name, include_blank: true %>
      </div>
    </div>
    <div class="field">
      <div class="col-sm-2"><%= f.label :city, "市町村" %></div>
          <div class="col-sm-10 form-inline" style="padding: 3px;">

        <%= f.text_field :city , class: 'form-control', placeholder: :city, size: "20"%>
      </div>
    </div>
    <div class="field">
      <div class="col-sm-2"><%= f.label :street, "番地" %></div>
          <div class="col-sm-10 form-inline" style="padding: 3px;">

        <%= f.text_field :street , class: 'form-control', placeholder: :street, size: "20"%>
      </div>
    </div>
    <div class="field">

      <div class="col-sm-2"><%= f.label :building, "建物" %></div>
          <div class="col-sm-10 form-inline" style="padding: 3px;">

        <%= f.text_field :building , class: 'form-control', placeholder: :building, size: "20"%>
      </div>
    </div>


    <div class="actions">
      <%= f.submit "更新" %>
    </div>
    <% end %>

    <!-- <h3>Cancel my account</h3> -->

    <p>退会しますか? <%= button_to "退会", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "戻る", chat_rooms_path %>